* {margin: 0;
padding: 0;}

@import url(http://reset5.googlecode.com/hg/reset.min.css);

body{background-image: url("bodybcg.jpg");
background-size: cover;
background-repeat: no-repeat;
overflow: auto;
display: block;
height: 100%;
}

.smalls {width: 90%;
margin-left: 4%;
margin-right: 4%;
margin-bottom: 5px;
clear: both;
width: 200px;
display: block;
}

ul {list-style-type: none;}

#stupidpictures {overflow: auto; display: block;}

nav#dropdown{
	margin-right: 7%;
	display: none;
}
nav#dropdown a{color: #281f15;
font-size: 25px;}

a {text-decoration: none;
display: inline;
font-family: Helvetica, Arial;}

p {font-family: Helvetica, Arial;}

h3 {font-family: Helvetica, Arial;}

div#content{
		clear: both;
		width: 69%;
margin-left: auto;
margin-right: auto;
display: block;
overflow: auto;
padding-top: 50px;}
div#about{ width: 69%;
	clear: both;
margin-left: auto;
margin-right: auto;
display: block;
overflow: auto;
padding-top: 30px;
}

.catalogcake{
display: inline-block;
padding-left: 0.85%;
padding-right: 0.85%;
width: 31.2%;
margin-bottom: 30px;
}
.catalogcake img{width: 100%;
cursor: pointer;
}

.catalogcake p{width: 100%;}

.catalogcake1{
display: inline-block;
padding-left: 0.5%;
padding-right: 0.5%;
width: 23.4%;
margin-bottom: 30px;}
.catalogcake1 img{width: 100%;}

.catalogcake1 p{width: 100%;}

nav#desktop{float: right;
	width: 86%;}

nav#desktop li {display: inline;
padding-top: 100px;
padding-bottom:30px;
margin-left:3px;
padding-left: 8px;
padding-right: 8px;
}

.inactive {background-image: url("ribbon.svg");
background-size: 100% 0%;
background-repeat: no-repeat;
background-position: top right;}

#desktop ul {float:right;
	padding-top: 100px;}

nav#desktop a{color: black;
	text-align: center;
font-size: 18px;
color: #281f15;}

img#logo {width: 100%;}

header {width: 69%;
	margin: auto;
	display: block;}

.inactive:hover{
background-size: 100% 100%;
transition: background-size 0.3s;}

nav#desktop li:hover > a {color:#ecdeb3;
transition: color 0.2s;}

a#logoa {display: inline-block;
	float: left;
	width: 14%;
margin-top: 20px;
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 74%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.6)), color-stop(74%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


footer#footerbcg{background-image: url("footerbcg.png");
width: 100%;
margin-bottom: 10px;
margin-top: 20px;}

div#footer div{display: inline-block;
text-align: center;
margin-left: auto;
		margin-right: auto;}

div#footer p{margin-top: 7px;}

#menubutton{display: none;}

div#footer {width: 69%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;}

	div#one{float: left;
		width: 27.6%;
color: #281f15;}

	div#two{display: block;
		width: 44%;}
		
	div#two p{width: 62.7%;
			margin-left: auto;
			margin-right: auto;
			display: block;
color: #281f15;
	}

		div#three{float: right;
		width: 27.6%;
color: #281f15;}




li#active {background-image: url("ribbon.svg");
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: top right;}

li#active > a {color:#ecdeb3;}

#blackbcg {
background-image: url("imgs/blackbcg.png");
background-size: 100% 100%;
position: absolute;
width: 100%;
height: 100%;}

#yolo{
position: fixed;
display: none;
top: 0;
height: 100%;
width: 100%;
}

h2{text-align: center;
margin-bottom: 10px;
font-family: Helvetica, Arial;}

#about p {margin-bottom: 30px;
}

#about img{width: 30%;
margin-left: 1.35%;
margin-right: 1.35%;
margin-bottom: 30px;}

#cakeinfo {
	background-image: url("book.png");
	width: 70%;
	background-size: 100% 100%;
	height: 70%;
	margin-left: 15%;
	margin-top: 6%;
}

#cakeinfo img{
margin-top: 5%;
margin-left: 6%;
display: inline-block;
width: 40%;
}

#cakeinfo p {width: 90%;
	clear: both;
float: right;
text-align: center;
margin-bottom: 10px;}

#infotext {float: right;
display: inline-block;
width: 40%;
height: 80%;
margin-right: 10%;
margin-top: 5%;}

#infotext a{clear: both;
float: right;}

#cakeinfo h3 {float: right;
text-align: center;
width: 90%;
margin-bottom: 10px;}
form#orderform {
	width:400px;
	margin-right:auto;
	margin-left:0%;
	float:left;
}

.contactcontainer input {
	border-radius:5px;
	width:190px;
	height: 30px;
	border: 1px solid #cfccaf;
	margin-bottom: 4px;
	padding-left:4px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#333;
	font-size: 14px;
}

#address {width: 393px;}

#details {
	color:#333;
	border-radius:5px;
	border: 1px solid #cfccaf;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-left:5px;
	padding-top: 5px;
	width:393px;

	font-size: 14px;
	margin-bottom:15px;
}

#contacttitle {
	font-family:Arial, Helvetica, sans-serif;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	text-align:center;
	width:450px;
	margin-bottom:10px;
}

.catalogcake1 form {margin-top: 10px;}

#contactcontact {
	float:right;
	overflow:auto;
	margin-left:auto;
	margin-right:10%;
}

.orderorder {
	width: 40px;
	clear: both;
	border-radius: 0px;
	margin-left: 30px;
	margin:none;
	height: 20px;
}


@media screen and (max-width : 768px) {

	.catalogcake1 {
display: inline-block;
padding-left: 0.85%;
padding-right: 0.85%;
width: 31%;
margin-bottom: 30px;
}

	.catalogcake {
display: inline-block;
padding-left: 0.85%;
padding-right: 0.85%;
width: 31%;
}

#cakeinfo {background-image: none;
background-color: #ecdeb3;
height: 80%;
width: 85%;
margin-left: 7%;}

#cakeinfo img {width: 45%;
margin-left: 4%;}


#infotext {width: 45%;
margin-right: 4%;}

div#content {width: 90%;
padding-top: 10px;}
div#about{ width: 90%;
	padding-top: 10px;
	}

	nav#dropdown ul {float: right;
	}

nav#dropdown li {}
nav#dropdown a {padding-bottom: 3px;}


#menubutton{display: block;
float: right;}

header {width: 90%;
overflow: auto;}

div#footer{width: 90%;}
nav#desktop {width: auto;}

a#logoa {margin-top: 10px;
width: 100px;}

#menubutton {margin-top: 20px;
width: 90px;}

#menubutton img {width: 100%;}

div#footer {clear: both;}

}

@media screen and (max-width : 980px) {

}

@media screen and (max-width : 600px) {

}

@media screen and (max-width : 320px) {
	a#logoa {width: 80px;}
	#menubutton {width: 70px;}
}

@media screen and (min-width: 768px) and (max-width : 980px) {
nav#desktop li {
padding-top: 80px;
padding-bottom: 20px;
}
nav#desktop ul{
	padding-top: 80px;
}
header {width: 80%;}
div#footer{width: 80%;}
div#content {width: 80%;}
div#about {width: 80%;}
}


@media screen and (max-width : 480px) {	.catalogcake1 {
padding-left: 0.85%;
padding-right: 0.85%;
width: 47.5%;}
}

.bigpic {width: 100%;}

#three img {height: 90%;}

#snowflakes

{position: fixed;
	top: -60px;
	width:100%;
	text-align:center;
height: 100%;
display: block;
z-index: -100000;
opacity: 0.9;}

#snowflakes i {
	background-color: white;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	z-index: 600000000;
	color: white;
	display: inline-block;

	margin-top: -20px;
animation:snowing;
-webkit-animation:snowing;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
animation-timing-function:linear;
-webkit-animation-timing-function:linear; /* Safari and Chrome */
}

@-webkit-keyframes snowing {
		0% { 
			-webkit-transform: 
					translate3d(0,0,0) 
					rotate(0deg) 
					scale(0.9,0.9);
		}
		100% { 
			-webkit-transform: 
					translate3d(-150px,800px,0) 
					rotate(360deg) 
					scale(1.1,1.1);
		}	
	}
	
	@-moz-keyframes snowing {
		0% { 
			-moz-transform: 
					translate3d(0,0,0) 
					rotate(0deg) 
					scale(0.9,0.9);
		}
		100% { 
			-moz-transform: 
					translate(30px,800px) 
					rotate(360deg) 
					scale(1.1,1.1);
		}	
	}


#snowflakes i:nth-of-type(7n) {
		-moz-animation-duration: 9s;
-webkit-animation-duration: 9s;
width: 4px;
height: 4px;
		opacity: 0.6;
		}

		#snowflakes i:nth-of-type(14n) {
		-moz-animation-duration: 9s;
-webkit-animation-duration: 9s;
width: 4px;
height: 4px;
		opacity: 0.6;
				-webkit-animation-delay: 2s;
		-moz-animation-delay: 2s;
		}

				#snowflakes i:nth-of-type(21n) {
		-moz-animation-duration: 9s;
-webkit-animation-duration: 9s;
width: 4px;
height: 4px;
		opacity: 0.6;
				-webkit-animation-delay: 4s;
		-moz-animation-delay: 4s;
		}


#snowflakes i:nth-of-type(7n+1) {
		-moz-animation-duration: 7.5s;
-webkit-animation-duration: 7.5s;
width: 5px;
height: 5px;
		opacity: 0.7;
		}

		#snowflakes i:nth-of-type(14n+1) {
		-moz-animation-duration: 7.5s;
-webkit-animation-duration: 7.5s;
		-webkit-animation-delay: 2s;
		-moz-animation-delay: 2s;
width: 5px;
height: 5px;
		opacity: 0.7;
		}

#snowflakes i:nth-of-type(21n+1) {
		-moz-animation-duration: 7.5s;
-webkit-animation-duration: 7.5s;
		-webkit-animation-delay: 4s;
		-moz-animation-delay: 4s;
width: 5px;
height: 5px;
		opacity: 0.7;
		}

		#snowflakes i:nth-of-type(7n+2) {
		-moz-animation-duration: 6.5s;
-webkit-animation-duration: 6.5s;
width: 6px;
height: 6px;
		opacity: 0.8;
		}

				#snowflakes i:nth-of-type(14n+2) {
		-moz-animation-duration: 6.5s;
-webkit-animation-duration: 6.5s;
-webkit-animation-delay: 2s;
		-moz-animation-delay: 2s;
width: 6px;
height: 6px;
		opacity: 0.8;
		}

		#snowflakes i:nth-of-type(21n+2) {
		-moz-animation-duration: 6.5s;
-webkit-animation-duration: 6.5s;
-webkit-animation-delay: 4s;
		-moz-animation-delay: 4s;
width: 6px;
height: 6px;
		opacity: 0.8;
		}

		#snowflakes i:nth-of-type(7n+3) {
		-moz-animation-duration: 6s;
-webkit-animation-duration: 6s;
width: 7px;
height: 7px;
		opacity: 0.8;
		}

				#snowflakes i:nth-of-type(14n+3) {
		-moz-animation-duration: 6s;
-webkit-animation-duration: 6s;
-webkit-animation-delay: 2s;
		-moz-animation-delay: 2s;
width: 7px;
height: 7px;
		opacity: 0.8;
		}

#snowflakes i:nth-of-type(21n+3) {
		-moz-animation-duration: 6s;
-webkit-animation-duration: 6s;
-webkit-animation-delay: 4s;
		-moz-animation-delay: 4s;
width: 7px;
height: 7px;
		opacity: 0.8;
		}


	#snowflakes i:nth-of-type(7n+4) {
			-moz-animation-duration: 5s;
-webkit-animation-duration: 5s;
width: 7px;
height: 7px;
opacity: 0.9;
-webkit-animation-delay: 0.5s;
		-moz-animation-delay: 0.5s;
		}

	#snowflakes i:nth-of-type(21n+4) {
			-moz-animation-duration: 5s;
-webkit-animation-duration: 5s;
width: 7px;
height: 7px;
opacity: 0.9;
-webkit-animation-delay: 3s;
		-moz-animation-delay: 3s;
		}

	#snowflakes i:nth-of-type(14n+4) {
			-moz-animation-duration: 5s;
-webkit-animation-duration: 5s;
width: 7px;
height: 7px;
opacity: 0.9;
-webkit-animation-delay: 1.5s;
		-moz-animation-delay: 1.5s;
		}

	#snowflakes i:nth-of-type(7n+5) {
			-moz-animation-duration: 4s;
-webkit-animation-duration: 4s;
width: 8px;
height: 8px;
opacity: 1;
-webkit-animation-delay: 0.5s;
		-moz-animation-delay: 0.5s;
		}

			#snowflakes i:nth-of-type(14n+5) {
			-moz-animation-duration: 4s;
-webkit-animation-duration: 4s;
width: 8px;
height: 8px;
opacity: 1;
-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		}


			#snowflakes i:nth-of-type(21n+5) {
			-moz-animation-duration: 4s;
-webkit-animation-duration: 4s;
width: 8px;
height: 8px;
opacity: 1;
-webkit-animation-delay: 1.5s;
		-moz-animation-delay: 1.5s;
		}


					#snowflakes i:nth-of-type(21n+6) {
			-moz-animation-duration: 3s;
-webkit-animation-duration: 3s;
width: 9px;
height: 9px;
opacity: 0.5;
		}

		#snowflakes i:nth-of-type(35n) {
			-moz-animation-duration: 3s;
-webkit-animation-duration: 3s;
width: 9px;
height: 9px;
opacity: 0.5;
		}